.Rhistory
.~lock.20646_ Sample ID.xlsx#
.~lock.Henderson_pid1638_exosome_functional_mir_mapping.xlsx#
.~lock.Henderson_pid1638_exosome_iPathway_functional_80.xlsx#
20646_ Sample ID.xlsx
Data for Jim.xlsx
Figure Basophil Sample.docx
Henderson PID1638.xlsx
Henderson_pid1638_basophil_all_mir_mapping.xlsx
Henderson_pid1638_basophil_all_mir_mapping_90.xlsx
Henderson_pid1638_basophil_functional_mir_mapping.xlsx
Henderson_pid1638_basophil_functional_mir_mapping_90.xlsx
Henderson_pid1638_basophil_iPathway_all_80.xlsx
Henderson_pid1638_basophil_iPathway_all_90.xlsx
Henderson_pid1638_basophil_iPathway_functional_80.xlsx
Henderson_pid1638_basophil_iPathway_functional_90.xlsx
Henderson_pid1638_basophil_plotting_data.xlsx
Henderson_pid1638_exosome_all_mir_mapping.xlsx
Henderson_pid1638_exosome_all_mir_mapping_90.xlsx
Henderson_pid1638_exosome_functional_mir_mapping.xlsx
Henderson_pid1638_exosome_functional_mir_mapping_90.xlsx
Henderson_pid1638_exosome_iPathway_all_80.xlsx
Henderson_pid1638_exosome_iPathway_all_90.xlsx
Henderson_pid1638_exosome_iPathway_functional_80.xlsx
Henderson_pid1638_exosome_iPathway_functional_90.xlsx
Henderson_pid1638_exosome_plotting_data.xlsx
Henderson_pid1638_exosone_iPathway_functional_80.xlsx
Henderson_pid1638_extraplots_20191220.zip
Henderson_pid1638_extraplots_20200106.zip
Henderson_pid1638_miRNA_20190621.zip
Henderson_pid1638_miRNA_20190716.zip
Henderson_pid1638_miRNA_20190819.zip
Henderson_pid1638_miRNA_20190920.zip
Henderson_pid1638_miRNA_20191007.zip
Henderson_pid1638_miRNA_20191010.zip
Henderson_pid1638_miRNA_20200114.zip
Henderson_pid1638_miRNA_20200116.zip
Henderson_pid1638_miRNA_20200120.zip
Henderson_pid1638_miRNA_20200127.zip
Henderson_pid1638_miRNA_analysis.Rmd~
Henderson_pid1638_miRNA_basophil_ingenuity.xlsx
Henderson_pid1638_miRNA_exosome_ingenuity.xlsx
Henderson_pid1638_miR_mRNA_mapping.xlsx
Statistical_analysis.bib
Statistical_analysis.bib~
extra_plots/
glimma-plots/
miRDB_v6.0_prediction_result.txt.gz
pdfs/
pidat.Rdata
rolst.Rdata
style.css
test.png
tmp.png
